/* line 1, ../sass/default.scss */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 12, ../sass/default.scss */
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: white;
  font: normal 100%/1.4 sans-serif;
  height: auto !important;
}

/* line 22, ../sass/default.scss */
.container {
  width: 980px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 980px) {
  /* line 30, ../sass/default.scss */
  .container {
    width: 90%;
    overflow: hidden !important;
  }
}
@media screen and (max-width: 980px) {
  /* line 38, ../sass/default.scss */
  section {
    text-align: center;
    width: 100%;
    padding: 0px 0 !important;
    margin-bottom: 50px !important;
  }
}
/* line 48, ../sass/default.scss */
.right {
  float: right;
}

/* line 49, ../sass/default.scss */
.left {
  float: left;
}

/* line 51, ../sass/default.scss */
section {
  text-align: center;
  width: 100%;
  width: 100%;
  padding: 100px 0px 100px !important;
}

/* line 57, ../sass/default.scss */
main {
  padding-top: 50px;
}

/* line 60, ../sass/default.scss */
section, main {
  overflow-y: hidden !important;
}

/* line 75, ../sass/default.scss */
.sectionTitle h1 {
  color: #F7885D;
  font-family: raleway,sans-serif;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin: 10px 0px;
}
/* line 83, ../sass/default.scss */
.sectionTitle p:last-child {
  color: #888;
  font-family: raleway,sans-serif;
  font-size: 18px;
  font-weight: 100;
  padding-top: 20px;
  text-transform: uppercase;
}
/* line 91, ../sass/default.scss */
.sectionTitle .fancy {
  line-height: 0.5;
  text-align: center;
}
/* line 95, ../sass/default.scss */
.sectionTitle .fancy span {
  display: inline-block;
  position: relative;
}
/* line 100, ../sass/default.scss */
.sectionTitle .fancy span:before,
.sectionTitle .fancy span:after {
  content: "";
  position: absolute;
  height: 1px;
  border-bottom: 1px solid #474747;
  bottom: 7px;
  width: 200px;
}
/* line 108, ../sass/default.scss */
.sectionTitle .fancy span:before {
  right: 100%;
  margin-right: 15px;
}
/* line 112, ../sass/default.scss */
.sectionTitle .fancy span:after {
  left: 100%;
  margin-left: 15px;
}
/* line 116, ../sass/default.scss */
.sectionTitle i:hover {
  color: black;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
/* line 123, ../sass/default.scss */
.sectionTitle i {
  color: #F7885D;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-size: 25px;
}

@media screen and (max-width: 601px) {
  /* line 134, ../sass/default.scss */
  .sectionTitle h1 {
    font-size: 40px !important;
  }
  /* line 137, ../sass/default.scss */
  .sectionTitle p:last-child {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 601px) {
  /* line 154, ../sass/default.scss */
  .introText h1 {
    font-size: 49px !important;
    line-height: 57px !important;
    text-decoration: none !important;
  }
  /* line 159, ../sass/default.scss */
  .introText h3, .introText p {
    display: none;
  }

  /* line 163, ../sass/default.scss */
  #top {
    top: 20% !important;
    height: 340px !important;
  }
  /* line 166, ../sass/default.scss */
  #top .topSlide {
    height: 340px !important;
  }
}
/* line 173, ../sass/default.scss */
#top {
  padding: 0;
  height: 640px;
  padding: 0 0px 20px !important;
}

/* line 184, ../sass/default.scss */
#mainSlider .topSlide {
  height: 640px;
  width: 100%;
  background-image: url("../img/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 192, ../sass/default.scss */
#mainSlider .introText {
  color: white;
  position: relative;
  top: 28%;
}
/* line 197, ../sass/default.scss */
#mainSlider .introText h1 {
  color: #FFF;
  font-size: 67px;
  text-align: center;
  font-family: raleway,sans-serif;
  font-weight: 700;
  text-decoration: underline;
  line-height: 29px;
}
/* line 207, ../sass/default.scss */
#mainSlider .introText p, #mainSlider .introText h3 {
  line-height: 19px;
  text-align: center;
  font-family: raleway,sans-serif;
  font-weight: 400;
}
/* line 213, ../sass/default.scss */
#mainSlider .introText p {
  text-transform: uppercase;
  font-size: 20px;
}
/* line 217, ../sass/default.scss */
#mainSlider .introText h3 {
  font-size: 25px;
}

/* line 238, ../sass/default.scss */
#about {
  padding-bottom: 51px !important;
}
/* line 240, ../sass/default.scss */
#about main {
  width: 100%;
  margin-bottom: -60px;
}
/* line 243, ../sass/default.scss */
#about main .left {
  padding-top: 100px;
}
/* line 246, ../sass/default.scss */
#about main p, #about main h3 {
  text-align: left;
  color: #333;
  font-family: raleway,sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
/* line 254, ../sass/default.scss */
#about main h3 {
  font-weight: bold;
  margin-bottom: 10px;
  color: #F7885D;
  font-family: raleway,sans-serif;
  font-weight: 700;
  font-size: 17px;
}

@media screen and (max-width: 950px) {
  /* line 272, ../sass/default.scss */
  #about main .right {
    display: none;
  }
  /* line 275, ../sass/default.scss */
  #about main .left {
    width: 100%;
    top: 0 !important;
  }
}
/* line 304, ../sass/default.scss */
section#menu {
  padding-bottom: 0px !important;
  position: relative;
}
/* line 308, ../sass/default.scss */
section#menu main {
  width: 100%;
  position: relative;
}

/* line 313, ../sass/default.scss */
#menuSlider {
  position: relative;
}
/* line 316, ../sass/default.scss */
#menuSlider ol {
  position: absolute !important;
}
/* line 321, ../sass/default.scss */
#menuSlider .effects .img {
  margin-bottom: 12px !important;
}
/* line 324, ../sass/default.scss */
#menuSlider .fourth {
  min-height: 260px;
}
/* line 327, ../sass/default.scss */
#menuSlider h4, #menuSlider p {
  color: #666;
  text-align: center;
  font-family: raleway,sans-serif;
  font-weight: 700;
  font-size: 15px;
}
/* line 335, ../sass/default.scss */
#menuSlider p {
  line-height: 16px;
  color: #666;
  font-size: 13px;
  text-align: center;
  font-family: raleway,sans-serif;
  font-weight: 400;
}

/* line 345, ../sass/default.scss */
#menu .flex-control-nav li:hover {
  color: #F7885D;
  border-color: #F7885D;
}

/* line 349, ../sass/default.scss */
.flex-active {
  color: #F7885D;
}

@media screen and (min-width: 601px) {
  /* line 355, ../sass/default.scss */
  #menuMobile {
    display: none;
  }

  /* line 359, ../sass/default.scss */
  #menuDesktop {
    display: block;
    margin-top: 60px;
  }
}
@media screen and (max-width: 780px) {
  /* line 366, ../sass/default.scss */
  #menuMobile {
    display: block;
  }

  /* line 369, ../sass/default.scss */
  #menuDesktop {
    display: none;
  }

  /* line 374, ../sass/default.scss */
  section#menu main {
    width: 100%;
    padding-top: 30px;
    position: relative;
  }
}
/* line 384, ../sass/default.scss */
#accordion {
  text-align: left;
}
/* line 386, ../sass/default.scss */
#accordion div {
  display: table;
}
/* line 391, ../sass/default.scss */
#accordion h4 {
  color: #F7885D;
  padding-bottom: 3px;
}
/* line 395, ../sass/default.scss */
#accordion p {
  color: #333;
  font-family: raleway,sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

/* line 405, ../sass/default.scss */
#accordion .ui-accordion-header {
  margin: 5px 0;
  text-align: center;
  color: #333;
  font-family: raleway,sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
  padding: 10px 0;
}

/* line 417, ../sass/default.scss */
#accordion .ui-accordion-content {
  width: 100%;
  color: #777;
  font-size: 10pt;
  line-height: 16pt;
}

/* line 426, ../sass/default.scss */
#accordion .ui-accordion-content a {
  color: #777;
}

/* line 429, ../sass/default.scss */
#accordion .ui-accordion-header {
  background-color: #f3f3f3 !important;
}

/* line 433, ../sass/default.scss */
#accordion .ui-accordion-header:first-of-type a {
  box-shadow: 0px -1px 0px 0px #b85c0f;
}

/* line 436, ../sass/default.scss */
#accordion .ui-accordion-content:last-of-type {
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0 0px 0px rgba(0, 0, 0, 0.5);
}

/* line 468, ../sass/default.scss */
#reservation {
  overflow: hidden;
}
/* line 470, ../sass/default.scss */
#reservation input[type="submit"], #reservation input[type="text"] {
  line-height: normal !important;
  padding-top: 100px;
}
/* line 474, ../sass/default.scss */
#reservation main {
  text-align: left;
}
/* line 477, ../sass/default.scss */
#reservation .third, #reservation .full {
  padding: 10px;
}
/* line 480, ../sass/default.scss */
#reservation label {
  color: #6B6B6B;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  font-family: raleway,sans-serif;
  font-weight: 700;
}
/* line 488, ../sass/default.scss */
#reservation input[type="text"] {
  width: 100%;
  padding: 7px;
  border: 1px solid #C4C4C4;
  height: 40px;
}
/* line 494, ../sass/default.scss */
#reservation input[type="text"]:hover {
  border-color: grey;
}
/* line 498, ../sass/default.scss */
#reservation input[type="submit"] {
  z-index: 164;
  min-height: 50px;
  width: 226px;
  position: relative;
  background: url("../img/button.png") no-repeat scroll 0px 0px transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  text-indent: -999999px;
  display: block;
  margin: 0 auto;
  top: 30px;
  margin-bottom: 30px;
}
/* line 514, ../sass/default.scss */
#reservation #message {
  height: 200px;
  width: 100%;
  padding: 7px;
  border: 1px solid #c4c4c4;
}

@media screen and (max-width: 401px) {
  /* line 525, ../sass/default.scss */
  #reservation h1 {
    font-size: 35px !important;
  }

  /* line 527, ../sass/default.scss */
  #reservation main {
    text-align: left;
  }
}
/* line 556, ../sass/default.scss */
#gallery a img {
  width: 25%;
  border: 7px solid #FFF;
}

/* line 589, ../sass/default.scss */
#contact main {
  width: 100%;
}
/* line 591, ../sass/default.scss */
#contact main .left {
  padding-top: 20px;
  padding-right: 20px;
}
/* line 596, ../sass/default.scss */
#contact .half {
  text-align: left;
}
/* line 599, ../sass/default.scss */
#contact .half p, #contact .half address, #contact .half a {
  color: #333;
  font-family: raleway,sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
/* line 606, ../sass/default.scss */
#contact .half h4 {
  color: #F7885D;
  font-family: raleway,sans-serif;
  font-weight: 700;
}
/* line 611, ../sass/default.scss */
#contact .half .full {
  position: relative;
  top: 20px;
}
/* line 617, ../sass/default.scss */
#contact label {
  color: #6B6B6B;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  font-family: raleway,sans-serif;
  font-weight: 700;
}
/* line 625, ../sass/default.scss */
#contact input[type="text"] {
  width: 95%;
  padding: 7px;
  border: 1px solid #C4C4C4;
  height: 40px;
}
/* line 632, ../sass/default.scss */
#contact input[type="text"]:hover {
  border-color: grey;
}
/* line 636, ../sass/default.scss */
#contact input[type="submit"] {
  z-index: 164;
  min-height: 50px;
  width: 226px;
  position: relative;
  background: url("../img/send.png") no-repeat scroll 0px 0px transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  text-indent: -999999px;
  display: block;
  margin: 0 auto;
  top: 30px;
  float: left;
  top: 40px;
  margin-bottom: 40px;
}
/* line 654, ../sass/default.scss */
#contact #message {
  height: 200px;
  width: 100%;
  padding: 7px;
  border: 1px solid #c4c4c4;
}

@media screen and (max-width: 600px) {
  /* line 667, ../sass/default.scss */
  #contact main {
    padding-top: 20px;
  }
  /* line 670, ../sass/default.scss */
  #contact .half {
    margin-bottom: 30px;
  }

  /* line 674, ../sass/default.scss */
  #contact input[type="text"] {
    width: 100%;
    padding: 7px;
    border: 1px solid #C4C4C4;
    height: 40px;
  }
}
/* line 694, ../sass/default.scss */
footer {
  width: 100%;
  height: 120px;
  background: #2B2B2B;
  text-align: center;
  padding-top: 20px;
}
/* line 700, ../sass/default.scss */
footer ul {
  width: 150px !important;
  display: block;
  margin: 0 auto;
  width: 146px;
}
/* line 705, ../sass/default.scss */
footer ul li {
  float: left;
  padding: 10px;
}
/* line 708, ../sass/default.scss */
footer ul li i {
  font-size: 20px;
  color: white;
}
/* line 712, ../sass/default.scss */
footer ul li i:hover {
  color: #F7885D;
}
/* line 717, ../sass/default.scss */
footer p {
  color: white;
}
